<router-outlet></router-outlet>
<h1 class="text-center mt-5">Quest Home Assignment</h1>
<h3 class="text-center mt-5">Flight application</h3>

<div class="row mx-2 mt-5">
  <!-- Workers -->
  <div class="col-lg-2">
    <div class="card">
      <div class="card-header">
        Workers
      </div>
      <ul class="list-group list-group-flush">
        <span *ngFor="let worker of workers"><a (click)="changeSelectedWorker(worker.id)"><li [ngClass]="{ 'active': worker.id === selectedID }" class="list-group-item">{{worker.name}}</li></a></span>
      </ul>
    </div>
  </div>
  <!-- Flights table -->
  <div class="col-lg-7">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Flight Number</th>
            <th scope="col">Origin</th>
            <th scope="col">Origin Date</th>
            <th scope="col">Destination</th>
            <th scope="col">Destination Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flights" [ngClass]="{ 'table-active': selectedFlight === flight }">
              <td><a (click)="selectedFlight = flight">{{flight.num}}</a></td>
              <td>{{flight.from}}</td>
              <td>{{flight.from_date}}</td>
              <td>{{flight.to}}</td>
              <td>{{flight.to_date}}</td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
  <!-- Flight information -->
  <div class="col-lg-3">
    <div class="card">
      <div class="card-header">
        Flight Information
      </div>
     <div class="text-center" *ngIf="selectedFlight == null">
      <p>Select flight to view additional information</p>
     </div>
     <div class="text-center" *ngIf="selectedFlight">
       <div class="row">
         <div class="col-lg-6">
           <div>Plane number:</div>
           <div>Duration:</div>
           <div>Origin gate:</div>
           <div>Destination gate:</div>
        </div>
         <div class="col-lg-6">
           <div>{{ selectedFlight.plane }}</div>
           <div>{{ selectedFlight.duration | timepipe}}</div>
           <div>{{ selectedFlight.from_gate }}</div>
           <div>{{ selectedFlight.to_gate }}</div>
          </div>
       </div>
     </div>
    </div>
  </div>
</div>
